span.redacted-text {
  background-color: #000000;
  color: #dcdcdc;
  font-weight: bold;
  margin: 0 4px;
  padding: 1px 4px;
}

span.redacted-text.visible {
  background-color: transparent !important;
  color: #ff3d3d !important;
  text-decoration: line-through !important;
  font-weight: bold;
  margin: inherit;
  padding: inherit;
}
